In [1]:
%matplotlib inline

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [3,5,6], 'C': [7, 8, 9]})
df

   A  B  C
0  1  3  7
1  2  5  8
2  3  6  9

In [7]:
df.to_dict(orient='list')

{'A': [1, 2, 3], 'B': [3, 5, 6], 'C': [7, 8, 9]}

In [ ]:
# a(t) = C
# v(t) = \int a(t) dt = C \int dt = Ct
# s(t) = \int v(t) dt = C \int x dt = Ct^2/2